$primary: #ffeeaf;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import "bootstrap/scss/bootstrap";



body {
   font-family: "Roboto", sans-serif;
}

body.hideover{
    height: 100vh;
    overflow: hidden;
}

.custom-style{
    background-color: $primary;

    border: 1.8px solid #000;
    border-radius: 10px;

    img{
        border-radius: 10px;
    }

    &:focus{
        box-shadow: none;
        border: none;
        outline: 2px solid #000;
    }
}

.fs-12,
.fs-14{
    font-weight: normal;
}

.fs-12{
    color: #555;
    font-size: 12px;
}

.fs-14{
    font-size: 14px;
}

.fs-16,
.fs-18{
    font-size: medium;
}

.fs-16{
    font-size: 16px
}

.fs-18{
    font-size: 18px;
}

.loading{
    border-color: red;
}


@import './nav';
@import './filter';
@import './range';
@import './box';